__pycache__
data/
assets/
mensagem.wav
utils/
vercel/cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.vercel
Main.py
Teste.py
.venv
textual_serve/
textual_video
textual_filedrop
textual_pdf
Sample Videos.mp4