textual==6.1.0
textual-serve==1.1.2
rich==14.1.0
opencv-python==4.11.0.86
numpy==1.26.4
pillow==11.3.0
sounddevice==0.5.2
pydub==0.25.1
rich-pixels==3.0.1
ngrok==1.5.1
requests==2.32.5
yt-dlp==2025.9.23
Unidecode==1.4.0
psutil==7.0.0
Flask==3.1.2
flask-cors==6.0.1