textual
textual-serve
rich
opencv-python
numpy
pillow
sounddevice
pydub
rich-pixels
ngrok
requests
yt-dlp
Unidecode
psutil
Flask
flask-cors
# audioop-lts
textual-image
textual-colorpicker
textual-filedrop
# winget install ffmpeg
# textual_video
# textual_pdf