textual
textual-serve
rich
opencv-python
numpy
pillow
sounddevice
pydub
rich-pixels
ngrok
requests
yt-dlp
Unidecode
psutil
Flask
flask-cors
textual-image
textual-colorpicker
# audioop-lts
textual-filedrop
# winget install ffmpeg